*{
    margin: 0;
    padding: 0;
}
.body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#safe-area{
    background: linear-gradient(45deg, blue, tomato);
    height: 80vmin;
    width: 70vmin;
    border: 3px solid aqua;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
}
.snake-head{
    background: linear-gradient(45deg, red, hsl(299, 100%, 50%));
    border: .25vmin solid black;
    transform: scale(1.1);
}
.snake-body{
    background-color: cornflowerblue;
    border: .25vmin dotted black;
    border-radius: 2px;;
}
.snake-food{
    background-color: gold;
    border: .25vmin solid black;
    border-radius: 2px;
}
#scoreBoard{
    color: white;
}
#highScoreBoard{
    color: white;
}
.all-scoreboard{
    padding: 5px ;
    text-align: center;
    border: 5px solid greenyellow;
    margin-bottom: 5px;
    background-color: gray;
}